@{
    ViewBag.Title = "Home Page";
}

<div id="dom"></div>
@*@Scripts.Render("~/dist/ScriptAppRoot")*@
@section scripts{
    <script src="~/dist/Scripts/AppRoot.js"></script>


    <script>
        window.renderPage(document.getElementById('dom'));
    </script>

}